.content {
   background-color: rgba(255, 255, 255, 0.8); /* Slight white background for readability */
   padding: 2rem ;
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
   
 }

 .cta-button {
   font-size: 1.2rem;
   padding: 0.75rem 2rem;
   background-color: #5f00ec;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
   margin-top: 1rem;
   margin-bottom: 1.5rem;
 }
.cta-button:hover {
   background-color: #3b0088;
 }