html{
  font-size: 16px;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'VT323';
  box-sizing: border-box;
}
/* Apply border-box globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}
